
<mat-card>

  <mat-card-header>


    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-11">
          <mat-card-title>Peliculas</mat-card-title>
          <mat-card-subtitle>Lista de Peliculas</mat-card-subtitle>
        </div>

        <div class = "col-md-1">
          <mat-icon
            (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Talha'}})" >
            <span class="material-symbols-outlined">cloud_download</span>
          </mat-icon>
        </div>
      </div>

    </div>

  </mat-card-header>
  <mat-card-content>

    <p>En esta sección se listan todos los usuario registrados en el sistema.</p>

  </mat-card-content>
  <br>

  <table matTableExporter mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" #exporter="matTableExporter"
         class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id_pelicula">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
        id
      </th>
      <td mat-cell *matCellDef="let element"> {{element.id_pelicula}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by titulo">
        titulo
      </th>
      <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
    </ng-container>


    <ng-container matColumnDef="anio_lanzamiento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by anio_lanzamiento">
        Año
      </th>
      <td mat-cell *matCellDef="let element"> {{element.anio_lanzamiento}} </td>
    </ng-container>

    <ng-container matColumnDef="genero">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nombre_genero">
        Genero
      </th>
      <td mat-cell *matCellDef="let element"> {{element.genero.nombre_genero}} </td>
    </ng-container>


    <ng-container matColumnDef="authorities">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by authorities">
        Clasificación
      </th>
      <td mat-cell *matCellDef="let element">
        <span *ngFor="let authority of element.authorities">{{authority.authority}} </span>
      </td>
    </ng-container>



    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef >
        Calificar
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon   [routerLink]="'/admin/edit-usuario/'+element.id_pelicula">add_box</mat-icon>

        <!-- <mat-icon  (click)="eliminarPelicula(element.id_pelicula)" >delete</mat-icon> -->
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="container text-center mt20 mb20">
    <button routerLink="/admin/add-usuario" mat-raised-button color="primary">Agregar usuario</button>
  </div>
</mat-card>

